@media(max-width: 1021px){
	.skillcircle2{
		display: none;
	}
}



@media(max-width: 700px){
	.menu{
	display: none;
	position: absolute;
	padding: 0;
    flex-flow: column;
    right: 0;
    background: #fbfbfb;
    left: 0;
    top: 88px;
    overflow: hidden;
	}
	.barger{
	display: block!important; 
	font-size: 28px;
    color: deeppink;
    font-weight: bold;
	}
	.btn{
		padding: 5px 10px;
		margin-left: 20px;
	}
	.mainboox1 > div{
		width: 100%;
		text-align: center;
	}
.mainbooxcalc > div{
	width: calc(45% - 10px); 
}

.bx1 p{
	margin: auto;
    text-align: center;
}
.mainboox2 {
    display: flex;
    justify-content: center;
}
.parent > div{
	width: 100%;
	margin-top: 0;
}
.imgbx img{
	margin-top: 39px;
}
.bxx2 {
	right: 198px;
}
.herobx{
	margin-top: 75px;
}
}

@media(max-width: 620px){
	.skillcircle {
    width: 100px;
    height: 100px;
    left: 50px;
}
.circle2 {

    top: 158%;
    left: 100px;
    /* box-shadow: 10px 10px 50px blue; */
}
.circle2 {
    width: 100px;
    height: 100px;

    left: 50px;
 }

 .skillcircle {

    bottom: 157px;
    left: 200px;
    /* box-shadow: 10px 10px 50px blue; */
}

 .skillcircle2 {
    width: 100px;
    height: 100px;
    left: 46px;
    /* box-shadow: 10px 10px 50px blue; */
}
.owl-prev span{
	display: none!imporant;
}
.owl-next span{
	display: none!imporant;
}
.mainbooxcalc > div {
    width: 100%;
}
.box1{
	width: 100%;
}
.progresbx{
	max-width: 175px;
}
.skills{
	margin-top: 100px;
}
}
@media(max-width: 620px){
	.bxx3{
     left: 268px;
	}
	.bxx1{
		left: 57px;
	}
	.herobx img{
		width: 100%;
	}
	.bxx2 {
    right: 33px;
}
.head2{
	text-align: center;
	padding-top: 80px;
}
.para2{
	text-align: center;
}
.mainbx2{
	justify-content: center;
}
.imgbx img{
	width: 100%;
	height: 500px;
}
.progresbx{
	padding-top: 0;
}
.bx1 p {
	padding-top: 20px;
	padding-bottom: 20px;
}
.mainbooxcalc > div{
	margin-top: 15px;
}
.footermainbox > div{
	width: 100%;
}
.footerbx2{
	padding-top: 0;
	padding-left: 0;
}

.mainboox1cont > div{
	width:100%;
}
.formbx{
	width: 100%;
	padding: 0;
	padding-top: 20px;
}                                                                                                                 
}
