body{
	margin: 0;
	padding: 0;
	/*background: #E8F8F5 ;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;


}
.header{
	width: 100%;
}
.container{
	width: 100%;
	max-width: 1100px;
	margin: auto;
}
.mainboox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	position: relative;
}
.menu{
	display: flex;
	align-items: center;
	position: relative;


}
.menu li{
	list-style: none;
	margin: 0px 20px;
}
.menu li a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.btn{

	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 50px;
    box-shadow: deeppink 0px 2px 24px;
	background: deeppink;
	color: white;
}
.logo{
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: black;
}
.circle{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: #0000ff75;
	border-radius: 50px;
	position: absolute;
	/*box-shadow: 10px 10px 50px blue;*/
}
.circle1{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: pink;
	border-radius: 50px;
	position: absolute;
	right: 0;
	/*box-shadow: 10px 10px 50px blue;*/
}
.circle2{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: lightgreen;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	left: 500px;
	/*box-shadow: 10px 10px 50px blue;*/
}
.active{
	color: deeppink!important;
}
.bx1 h1{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
.bx1 p{
	max-width: 400px;
	text-align: justify;
	color: grey;
	line-height: 1.6;

}
.mainboox2{
  display: flex;
}
.btn1{
	padding: 10px 20px;
	background: #66ced4;
	border-radius: 5px;
	border: none;
	color: white;
	margin-right: 10px;
	box-shadow: 4px 2px 10px #66ced4;
}
.btn2{
	padding: 10px 20px;
	/*background: deeppink;*/
	border-radius: 5px;
	border: none;
	color: deeppink;
	margin-right: 10px;
	box-shadow: 5px 5px 20px #ff149396;
}

.mainboox1{
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
	align-items: center;
	flex-wrap: wrap;
}
.mainboox1 > div{
	width: calc(50% - 10px);


}
.head1{
	/*color: #524dcf;*/
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;

}
.circlebox{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-image: linear-gradient(skyblue,pink);
	overflow: hidden;
}
.herobx img{
	width: 444px;

}
.bxx1{
	padding: 10px 20px;
    background: white;
    position: absolute;
    border-radius: 5px;
      top: -237px;
    left: -22px;
    box-shadow: 5px 5px 10px #c7f57a;
    /*background: lightgreen;*/

}
.bxx2{
	padding: 10px 20px;
    background: white;
    position: absolute;
    border-radius: 5px;
       right:61px;
    top: -245px;
     box-shadow: 5px 5px 10px #800080a8;
    /*background: whitesmoke;*/


}
.bxx3{
	padding: 10px 20px;
    background: white;
    position: absolute;
    border-radius: 5px;
    top: -456px;
    left: 188px;
    box-shadow: 5px 5px 10px #ff149375;
    /*background: pink;*/


}
.bxx4{
	padding: 10px 20px;
    background: white;
    position: absolute;
    border-radius: 5px;
        left: 194px;
    top: -67px;
    box-shadow: 5px 5px 10px #87ceebd1;
    /*background: skyblue;*/
    

}
.maindiv{
	position: relative;
}
.boximage img{
	width: 40px;
	height: 40px;
}
.skills{
	width: 100px;
	height: 100px;
	/*background: red;*/
	position: relative;
}
.outer{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 389px;
}

.outer1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 375px;
}
.outer2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 350px;
}
.outer3{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 389px;
}
.outer4{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 389px;
}
.outer5{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*border: 1px solid red;*/
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	padding: 25px;
	/*background: linear-gradient(red,orange);*/
	stroke: url(#GradientColor);
	stroke-width: 20px;
	stroke-dasharray: 360px;
}
.inner{
	width: 90px;
	height: 90px;
	position: absolute;
    top: 30px;
    left: 28px;
	border-radius: 50%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	/*border: 1px solid red;*/
	display: flex;
	align-items: center;
	justify-content: center;

}
#number{
	font-weight: bold;
	color: #555;
}
circle{
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 20px;
	/*stroke-dasharray: 472px;
	stroke-dashoffset: 0;*/
	animation: saika 2s linear forwards;
}
svg{
	
    position: absolute;
    top: -3px;
    left: -5px;

}
@keyframes saika{
	100%{
		stroke-dashoffset: 765;
	}
}

.header4{
	width: 100%;
	padding-bottom: 250px;
	background: #ececec61!important;
	margin: 0;

}

.progresbx{
	display: flex;
	justify-content: space-between;
	max-width: 700px;
	margin: auto;
	align-items: center;
	padding-top: 140px;
	flex-wrap:wrap;

}
.heading6{
	text-align: center;
	/*margin-top: 50px;*/
	/*margin-bottom: 50px;*/
}
.skiltitle{
	text-align: center;
    margin-top: 20px;
    margin-left: 27px;
    color: #626262e8;
}
.parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.parent > div{
	width: calc(50% - 10px);
	height: 400px;
	/*background: red;*/
	/*box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
	margin-top: 200px;
}

.span1{
	color: #5350d5;
}
.para2{
	color: grey;
}
.mainbx2{
	display: flex;
	padding-top: 20px;
}
.btn3{
	padding: 10px 20px;
	background: #f7ac01;
	border-radius: 5px;
	border: none;
	color: white;
	margin-right: 10px;
	box-shadow: 4px 2px 10px #f7ac01;
}
.btn4{
	padding: 10px 20px;
	background: white;
	border-radius: 5px;
	border: none;
	color: deeppink;
	margin-right: 10px;
	box-shadow: 5px 5px 20px #ff149396;
}
.child1{
	width: 300px;
	height: 250px;
	background: #e99da7;
	border-radius: 10px;
}
.child2{
	width: 300px;
	height: 230px; 
	background:#524dcf;
	border-radius: 10px;
   position: absolute;
     right: 885px;
    top: 745px;
   z-index: -1;
}
.skillcircle{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: lightgreen;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	left: 500px;
	/*box-shadow: 10px 10px 50px blue;*/
}
.skillcircle1{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: #800080ad;
	border-radius: 50px;
	position: absolute;
/*	bottom: 0;
	left: 500px;*/
	/*box-shadow: 10px 10px 50px blue;*/

}
.skillcircle2{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: #ffa500c2;
	border-radius: 50px;
	position: absolute;
	left: 46px;
	right: 0; 
	/*box-shadow: 10px 10px 50px blue;*/
}
.name{
	color: deeppink;
}

.imgbx img{
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin-top: -50px;
} 
.skillhead{
	font-size: 30px;
	font-weight: bold;
}
.imgbx1{
	width: 100px;
	height: 100px;
	background: skyblue;
	border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.imgbx1 img{
	width: 100px !important;
	height: 100px;
	object-fit: contain;
	border-radius: 50px;

} 

.box1{
	width: 500px;
	padding: 10px;
	float: right;
	position: relative;
	/*height: 100px;*/
	/*background: white;*/
  /*box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
  /*box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.para2{
	color: #8080809c;
	margin-top: 35px;
	line-height: 1.2;
}
.head3{
	font-size: 30px;
	text-align: center;
	/*margin-right: 400px;*/
}
.ref{
	text-align: center;
	font-weight: bold;
	color: deeppink;
}

.mainbx3{
	padding-top: 50px;
}
.herobx{
	position: relative;
}

.circlexx{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: lightgreen;
	border-radius: 50px;
	position: absolute;
	right: 0;
	/*box-shadow: 10px 10px 50px blue;*/
}
.owl-nav{
	display: block!important;
}


.owl-prev span {
    font-size: 50px;
    position: absolute;
    top: 12px;
    left: 254px;
    color: white;
    background: #51c7eb;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.owl-next span {
    font-size: 50px;
    position: absolute;
    right: 752px;
    top: 12px;
    color: white;
    background: #51c7eb;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.header6{
	padding-top: 80px;
}
.mainbooxcalc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 900px;
	margin: auto;
	flex-wrap: wrap;
}
.mainbooxcalc > div{   
	display: flex;
	flex-flow: column;
	padding: 10px;
  margin: 10px;
	justify-content: center;
	align-items: center;
	width: calc(29.33% - 10px);
	height: 300px;
	background: white;
	/*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.service{
	font-size: 30px;
	text-align: center;
}
.mainbooxcalc div img{
	width: 50px;
}
.mainbooxcalc div h3{
	text-align: center;
	font-size: 20px;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 0;
}
.mainbooxcalc div p{
	padding: 0;
	margin: 10px;
	color: grey;
	font-size: 15px;
	text-align: justify;
}
.btn5{
	background:skyblue;
	color: white;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	box-shadow:2px 2px 5px skyblue;
	transition: 2.5s ease;
}
.btn5:hover{
	background: white;
	border: 2px solid skyblue;
	color: skyblue;
}
.btn6{
	background:deeppink;
	color: white;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	box-shadow:2px 2px 5px deeppink;
	transition: 2.5s ease;

}
.btn6:hover{
	background: white;
	border: 2px solid deeppink;
	color: deeppink;
}
.btn7{
	background:skyblue;
	color: white;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	box-shadow:2px 2px 5px skyblue;
	transition: 2.5s ease;
	
}
.btn7:hover{
	background: white;
	border: 2px solid skyblue;
	color: skyblue;
}
footer{
	border-top: 1px solid #ddd;
	margin-top: 80px;
}
footer p{
	text-align: center;
	color: grey;
}
.span2{
	color: deeppink;
	font-weight: bold;
}
.skillcircle22{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: #8000808f;
	border-radius: 50px;
	position: absolute;
	right: 0; 
	/*box-shadow: 10px 10px 50px blue;*/
}
/*.background{
	width: 100%;
	height: 800px;
	background-size: cover;
	background-image: url(../images/img6.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat:no-repeat ;
}
.background::before{
	content: '';
	width: 100%;
	height: 800px;
	background: #000000a6;
	position: absolute;
}*/
.formbx{
	width: 317px;
	height: 260px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 10px;
	z-index: 1000;
	float: right;
}
.formbx input{
	width: 100%;
	height: 35px;
	border: none;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	margin-top: 10px;
	border-bottom: 2px solid #ddd;
	outline: none;



}
textarea{
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	margin-top: 10px;
	border: none;
	border-bottom: 2px solid #ddd;
	color: grey;
	outline: none;

}
.button{
	background:skyblue;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	box-shadow:2px 2px 5px skyblue;
	margin-top: 10px;
	display: block;
}
.heading1{
	text-align: center;
	color: black;
	font-size: 40px;
	font-weight: bold;
}
.paracont{
	text-align: center;
	color: grey;
	max-width: 700px;
	margin: auto;
}
.heading3{
	color: black;
	margin: 0;
	/*text-shadow:3px 3px 10px skyblue;*/
}
.boox{
	padding-top: 100px;
	z-index: 1000;
	position: relative;
}
.iconbx{
	display: flex;
	align-items: center;
	

}
.mainboxicon{
	
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	flex-flow: column;
	/*z-index: 1000;*/
}
.iconcircle{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #00bfbf;
	color:black;
	margin-right: 10px;
	font-size: 20px;
	transition: 1.5s ease;
}
.iconcircle:hover{
	background: deeppink;
	color: white;
}
.heading4{
	color: black;
}
.paracont1{
	color:grey;
}

/*.menu11 li a{
	color: white;
}*/
.skillcircle222{
	width: 300px;
	height: 200px;
	filter: blur(100px);
	background: #ffa500c2;
	border-radius: 50px;
	position: absolute;
	top: 10px;
	/*left: 46px;*/
	right: 0; 
	/*box-shadow: 10px 10px 50px blue;*/
}
.mainboox1cont{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	width: 100%;
	height: 500px;
	max-width: 800px;
	z-index: 10000;
	margin: auto;
	flex-wrap: wrap;
}
.mainboox1cont > div{
	width: calc(50% - 10px);
	/*height: 400px;*/
	background: white;
}
.footermainbox{
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 100px;
	flex-wrap: wrap;
}
.footerbx1{
	width: 250px;
	height: 500px;
	/*background:skyblue;*/
}
.footerbx2{
	width: 450px;
	height: 500px;
	/*background: skyblue;*/
	padding-top: 50px;
	padding-left: 70px;
}
.imagebox{
	width: 100px;
	height: 100px;
	background:skyblue;
	border-radius: 50px;
	overflow: hidden;
	margin: auto;

}
.imagebox > img{
	width: 100px;
		border-radius: 50px;
}
.heagingabout{
	border-bottom: 1px dotted deeppink;
	padding-bottom: 5px;
	
}
.paraabout{
	color: grey;
	padding-top: 20px;
}
.heading2about{
	padding-top: 50px;
	border-bottom: 1px dotted deeppink;
	padding-bottom: 5px;
}
.heading3about i{
color: deeppink;
margin-right: 10px;
}
.namebx{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;

}
.namebx1{
	color: skyblue;
	margin: 0;
	text-align: center;
	padding-top: 7px;

}
.praa{
	border-bottom: 1px dotted deeppink;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
}

.praa i{
	margin-right:10px;
}
.barger{
	font-size: 30px;
	color: deeppink;
	display: none;
}

.light{
	width: 20px;
	height: 20px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 50px;

}

.dark{
	width: 20px;
	height: 20px;
	background: black;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 50px;
	margin-top: 10px;
}


.active1{
background: black!important;
color: white!important;
}
.active2{
	background: white!important;
}
.header7{
	background: black;
}
.mennu li a{
	color: white;


}